@font-face {
  font-family: 'HeaderFont';
  src: url('../fonts/SHANLN__.ttf') format('truetype');
}

/* MISC */
.floatright {float: right}
.even {background-color: #fffae3}
.odd {background-color: #eadf9e;}
.btn-small {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-small a {
  color: blue;
}
.bodyBG {
  border-radius: 5px;
  background-color: beige;
  padding: 12px;
}

/* buttons */
.btn-action {
  background-color: #F6FD99;
  font-weight: bolder;
}


/* user feedback, messaging, errors */
.errors {
  border-radius: 6px;
  background-color: #ffd9bb;
  margin-top: 24px;
  margin-bottom: 6px;
  
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 2em;
}

.info {  
  background-color: #c2fac9;
  border-radius: 6px;
  margin-top: 24px;
  
  margin-bottom: 6px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  line-height: 2em;
}

.errors ul li {
  list-style-type: none;
}


#header {
  /*background-color: #fff1cd;*/
  background-color: #BEA884;
  /*background-image: url('../img/header_bg.jpg');*/
  height: 120px;
}

#head {
  height: 120px;  
  
}

#header h1 {
  color: #BEA884;
  font-family: HeaderFont;
  font-size: 6em;
  /*visibility: hidden;*/
}

/*MENU*/
#reg-menu {
  border-top: 2px solid #23527C;  
  border-bottom: 1px solid #23527C;
}
#l2-menu {
  background-color: #F7F7F7;
  border-bottom: 1px solid #23527C;  
}
.menutitle {  
  
  padding-left: 20px;
  padding-top: 3px;  
  border-bottom:  solid 1px #D5DEE7;
}

li.active {
  background-color: #F2F2F2;
}
li.active2 {
  background-color: #D3E1FA;
}


/* CONTENT: ADMIN */
/* breads */
#bread-panel,
#topping-panel {  
  border-radius: 5px;
  background-color: #6A061B;
  padding: 6px;  
  
}
#breads .bread,
#toppings .topping {
  border-radius: 5px;
  line-height: 2em;
  padding-left: 5px;
  margin-bottom: 5px;
}
.bread .price {
  padding-right: 6px;
}

 .controls {
  margin-top: 6px;  
}
.controls button {
  margin-top: 6px;
}
.controls #name,
.controls #tname {
  width: 74%;
}
.controls #price,
.controls #tprice {
  width: 25%;
  float: right;
}

/* CONTENT */
.header {
  border-radius: 10px;
  height: 60px;
  padding-top: 10px;    
  padding-left: 12px;
  background-color: #BEA884;
  font-size: 1.9em;
}
.subtitle {
  border-bottom: 1px solid #e3e3e3;
}
h2 {
  font-size: 1.75em;
}

/* fixed footer */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

.footer {
  margin-top: 40px;
  padding-top: 40px;
  background-color: #bea884;
  clear: both;
}

.footer p {
  text-align: center;
  color: white;
}

.footer, .push {
  height: 120px;  
}