{% extends 'base.html.twig' %}

{% block title %}
  Logon
{% endblock title %}

{% block content %}
  <h1 class="header">Logon</h1>
  <form class="bodyBG" action="{{ app.urlFor('logon_verify') }}" method="post">
    
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="type" id="username" name="username" />
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" />
    </div>
    
    <input class="form-control btn-action" type="submit" id="submit" name="submit" value="Submit" />
  </form>
{% endblock content %}