{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  
  {% set app = globals.app %}
  <h1>Reset your password ?</h1>
  <form action="{{ app.urlFor('password_reset_process') }}" method="post">
    
    <div class="form-group">
      <label for="email">E-mail address</label>
      <input class="form-control" type="text" id="email" name="email" />
    </div>
    
    <input class="form-control" type="submit" id="submit" name="submit" value="Reset" />
    
  </form>
{% endblock content %}