<div id="header">
  <div class="container">
    <div id="head">
      <a href="{{ app.urlFor('main_page') }}">
        <img src="../img/logo.png" alt="VDAB logo.png"/>
      </a>
    </div>
  </div>
</div>