{% extends 'base.html.twig' %}


{% block content %}

  <div class="welcome">
    {% if user is defined and user is not null %}      
      <h1 class="header">Hello, {{ user.username }}</h1>
      {% if user.isAdmin() %}
        <span class="status">Logged in as admin</span>
      {% else %}
        <span class="status">Logged in as user</span>
      {% endif %}
    {% else %}
      <h1 class="header">Welcome</h1>
    {% endif %}
  </div>

  <section id="" class="container welcome cf">

  </section>

{% endblock content %}


