{% extends 'base.html.twig' %}

{% block title %}
  TeLaet admin page
{% endblock title %}

{% block nav_menu %}
  {{ parent() }}  
  {% set app = globals.app %}  
  {% include 'Admin/admin.menu.l2.html.twig' %}
{% endblock nav_menu %}

{% block content %}
  <h1>Admin panel</h1>

  <div class="row">
    <div class="col-sm-4">
      <h2>Breads</h2>  
      {% include 'Admin/breads.html.twig' %}
    </div>
    <div class="col-sm-4">
      <h2>Toppings</h2>
      {% include 'Admin/toppings.html.twig' %}
    </div>
    <div class="col-sm-4"></div>
  </div>

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="js/admin.js"></script>
{% endblock extrajs %}
