{% extends 'base.html.twig' %}

{% block title %}
  TeLaet admin page
{% endblock title %}

{% block content %}
  <h1>Admin panel</h1>

  <h2>Broodjes</h2>  
  <div class="row">
    <div class="col-sm-4">
      {% include 'Admin/breads.html.twig' %}
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>

{% endblock content %}