{% extends 'base.html.twig' %}

{% block title %}
  TeLaet admin page
{% endblock title %}

{% block nav_menu %}
  {{ parent() }}
  <nav id="l2-menu">
    <div class="container">
      <ul class="nav nav-pills">        
        <li><a href="{{ app.urlFor('admin_main_page') }}">Breads</a></li>
        <li><a href="#">Users</a></li>
      </ul>
    </div>
  </nav>
{% endblock nav_menu %}

{% block content %}
  <h1>Admin panel</h1>

  <div class="row">
    <div class="col-sm-4">
      <h2>Breads</h2>  
      {% include 'Admin/breads.html.twig' %}
    </div>
    <div class="col-sm-4">
      <h2>Toppings</h2>
      {% include 'Admin/toppings.html.twig' %}
    </div>
    <div class="col-sm-4"></div>
  </div>

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="js/admin.js"></script>
{% endblock extrajs %}
