{% extends 'base.html.twig' %}

{% block title %}
  TeLaet admin page
{% endblock title %}

{% block nav_menu %}
  {{ parent() }}  
  {% set app = globals.app %}  
  {% include 'Admin/admin.menu.l2.html.twig' %}
{% endblock nav_menu %}

{% block content %}
  <h1 class="header">Admin panel</h1>
  
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="js/admin.js"></script>
{% endblock extrajs %}
