{% extends 'base.html.twig' %}

{% block title %}404{% endblock title %}

{% block nav_menu %}{% endblock nav_menu %}

{% block header %}{% endblock header %}

{% block content %}
  <div class="container form" style="margin-top:50px;">
    <h1 style="border-bottom: none; font-size:6em;" class="err_nr">404 </h1>
    <p style="border-bottom: none; font-size:4em; margin-left:20px;">Nothing to see here ...</p>
    <p style="border-bottom: none; font-size:3em; margin-left:40px;">Please move on</p>    
    <p style="font-size:1em;">{{ error }}</p>
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}